@using Sciffer.Erp.Domain.ViewModel
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-horizontal">
            <div class="x_content">
                <div class=row>
                    <div class="col-md-4 col-lg-4 col-xs-12">
                        <label class="control-label col-md-5 col-lg-5 col-xs-12">From Date</label>
                        <div class="col-md-7 col-lg-7 col-xs-12">
                            <input type="date" id="fromDate" class="form-control radius" required="required">
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-xs-12">
                        <label class="control-label col-md-5 col-lg-5 col-xs-12">To Date</label>
                        <div class="col-md-7 col-lg-7 col-xs-12">
                            <input type="date" id="toDate" class="form-control radius">
                            <input type="hidden" id="entity" value="getmrndetailreport" />
                            <input type="hidden" id="partial" value="Partial_MaterialRequisitionReportStatusDetailed" />
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-xs-12">
                        <div class="control-label col-md-5 col-lg-5 col-xs-12">
                            <label></label>
                        </div>
                        <div class="col-md-7 col-lg-7 col-xs-12">
                            <button class="searchbutton searchButton" id="search" onclick="DateChecki()"> &nbsp; Run Report </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_content">
            <div id="searchresult">
                @Html.Partial("Partial_MaterialRequisitionReportStatusDetailed", (object)ViewBag)
            </div>
        </div>
    </div>
</div>


