@using Sciffer.Erp.Domain.ViewModel
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-horizontal">
            <div class="x_content">
                <div class=row>
                    <div class="col-md-4 col-lg-4 col-xs-12">
                        <label class="control-label col-md-5 col-lg-5 col-xs-12">From Date</label>
                        <div class="col-md-7 col-lg-7 col-xs-12">
                            <input type="date" id="fromDate" class="form-control radius" required="required">
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-xs-12">
                        <label class="control-label col-md-5 col-lg-5 col-xs-12">To Date</label>
                        <div class="col-md-7 col-lg-7 col-xs-12">
                            <input type="date" id="toDate" class="form-control radius">
                            <input type="hidden" id="entity" value="getmaterialoutintrackerreport" />
                            <input type="hidden" id="partial" value="Partial_MaterialOutInTrackerReport" />
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-xs-12">
                        <label class="control-label col-md-5 col-lg-5 col-xs-12">Item</label>
                        <div class="col-md-7 col-lg-7 col-xs-12">

                            @Html.DropDownList("item_id", (System.Web.Mvc.SelectList)ViewBag.item_list, htmlAttributes: new { @class = "form-control mickey item_id", multiple = "multiple" })

                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-xs-12">
                        <label class="control-label col-md-5 col-lg-5 col-xs-12">Plant</label>
                        <div class="col-md-7 col-lg-7 col-xs-12">
                            @Html.DropDownList("plant_id", (System.Web.Mvc.SelectList)ViewBag.plant_list, htmlAttributes: new { @class = "form-control mickey plant_id", multiple = "multiple" })
                        </div>
                    </div>                 
                    <div class="col-md-4 col-lg-4 col-xs-12">
                        <div class="control-label col-md-5 col-lg-5 col-xs-12">
                            <label></label>
                        </div>
                        <div class="col-md-7 col-lg-7 col-xs-12">
                            <button class="searchbutton searchButton" id="search" onclick="materialinout()"> &nbsp; Run Report </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_content">
            <div id="searchresult">
                @Html.Partial("Partial_MaterialOutInTrackerReport", (object)ViewBag)
            </div>
        </div>
    </div>
</div>


