@using Sciffer.Erp.Domain.ViewModel
<div class="row">
    <div class="form-horizontal">
        <div class="x_content">
            <div class=row>
                <div class="col-md-4 col-lg-4 col-xs-12">
                    <label class="control-label col-md-5 col-lg-5 col-xs-12">As of Date</label>
                    <div class="col-md-7 col-lg-7 col-xs-12">
                        <input type="date" id="posting_dates" class="form-control radius" required="required">
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xs-12">
                    @*<label class="control-label col-md-5 col-lg-5 col-xs-12">IEX Status   : </label>*@
                    <div class="col-md-7 col-lg-7 col-xs-12">
                        @*@Html.DropDownList("grn_id", new List<SelectListItem>
                                {
                                   new SelectListItem { Text = "All", Value = "All" },
                                   new SelectListItem { Text = "IEX Completed", Value = "IEX Completed" },
                                    new SelectListItem { Text = "IEX Pending", Value = "IEX Pending" },
                                     new SelectListItem { Text = "IEX NA", Value = "IEX NA" }
                                    

                                 }, new { @class = "form-control" })*@

                    </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-xs-12">
                        <div class="control-label col-md-5 col-lg-5 col-xs-12">
                            <input type="hidden" id="entity" value="getgrnpendingforpi" />
                            <input type="hidden" id="partial" value="Partial_GRNPendingforPurchaseInvoiceReport" />
                        </div>
                        <div class="col-md-7 col-lg-7 col-xs-12">
                            <button class="searchbutton searchButton" id="search" onclick="DateCheckp();"> &nbsp; Run Report </button>
                        </div>
                    </div>

                </div>
        </div>
    </div>
</div>


<br />
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div id="searchresult">
            @Html.Partial("Partial_GRNPendingforPurchaseInvoiceReport", (object)ViewBag)
        </div>
    </div>
</div>

