@using Sciffer.Erp.Domain.ViewModel
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="col-md-5 col-lg-5 col-xs-12">
                    <label></label>
                </div>
                <div class="col-md-7 col-lg-7 col-xs-12">

                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="col-md-5 col-lg-5 col-xs-12">
                    <label></label>
                </div>
                <div class="col-md-7 col-lg-7 col-xs-12">
                    <input type="hidden" id="entity" value="get_vendor_masterdiscount_details" />
                    <input type="hidden" id="partial" value="Partial_VendorMasterDiscountDetails" />
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="control-label col-md-5 col-lg-5 col-xs-12">

                </div>
                <div class="col-md-7 col-lg-7 col-xs-12">
                    <button class="searchbutton searchButton" id="search" onclick="DateCheckp();">Run Report </button>
                </div>
            </div>
        </div>
    </div>



    <br />
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">

            <div id="searchresult">
                @Html.Partial("Partial_VendorMasterDiscountDetails", (object)ViewBag)
            </div>
        </div>

    </div>
