@using Sciffer.Erp.Domain.ViewModel
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">                      
            <div class="form-horizontal">            
                    <div class=row>
                            <div class="col-md-4 col-lg-4 col-xs-12">
                                <label class="control-label col-md-5 col-lg-5 col-xs-12">Vendor Category</label>
                                <div class="col-md-7 col-lg-7 col-xs-12">
                                    @Html.DropDownList("vendor_category_id", (System.Web.Mvc.SelectList)ViewBag.vendor_category_list,htmlAttributes: new { @class = "form-control mickey vendor_category_id", multiple = "multiple" })
                                </div>
                            </div>
                            @*<div class="col-md-4 col-lg-4 col-xs-12">
                                <label class="control-label col-md-5 col-lg-5 col-xs-12">Priority</label>
                                <div class="col-md-7 col-lg-7 col-xs-12">
                                    @Html.DropDownList("priority", (System.Web.Mvc.SelectList)ViewBag.priority_list, htmlAttributes: new { @class = "form-control mickey", multiple = "multiple" })
                                </div>
                            </div>*@
                        <div class="col-md-4 col-lg-4 col-xs-12">
                            <div class="col-md-5 col-lg-5 col-xs-12">
                                <label></label>
                            </div>
                            <div class="col-md-7 col-lg-7 col-xs-12">
                                <input type="hidden" id="entity" value="getvendorcontactdetails" />
                                <input type="hidden" id="partial" value="Partial_VendorContactDetails" />
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-xs-12">
                            <div class="control-label col-md-5 col-lg-5 col-xs-12">

                            </div>
                            <div class="col-md-7 col-lg-7 col-xs-12">
                                <button class="searchbutton searchButton" id="search" onclick="DateCheckp();"> &nbsp; Run Report </button>
                            </div>
                        </div>
                    </div>               
            </div>        
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">                         
                <div id="searchresult">
                    @Html.Partial("Partial_VendorContactDetails", (object)ViewBag)
                </div>         
        </div>
</div>

