@model Sciffer.Erp.Domain.Model.REF_MARITAL_STATUS

@{
    ViewBag.Title = "Details";
}



<div>
    <h4>REF_MARITAL_STATUS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MARITAL_STATUS_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MARITAL_STATUS_NAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MARITAL_STATUS_ID },new {@class="btn btn-success" }) 
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</p>
