
@using Sciffer.Erp.Domain.ViewModel

@{
    ViewBag.Title = "Index";
}

<br /><br /><br />
<div>
    @(Html.EJ().Grid<tds_codeVM>("Searching")
       .Datasource(ds => { ds.Json((IEnumerable<object>)ViewBag.DataSource).RemoveURL("Delete").Adaptor(AdaptorType.RemoteSaveAdaptor); })
       .EditSettings(edit => { edit.AllowAdding().AllowDeleting().AllowEditing().EditMode(EditMode.InlineFormTemplate).ShowDeleteConfirmDialog(true); })
        .ToolbarSettings(toolBar => toolBar.ShowToolbar().ToolbarItems(items =>
        {
            items.AddTool(ToolBarItems.Add);
            items.AddTool(ToolBarItems.Edit);
            items.AddTool(ToolBarItems.ExcelExport);           
            items.AddTool(ToolBarItems.PrintGrid);
        }))
        .Mappers(map => map.ExportToExcelAction(Url.Action("ExportToExcel", "Generic", new { ctrlname = "TDSCode" }))
        .ExportToPdfAction(Url.Action("ExportToPdf", "Generic", new { ctrlname = "TDSCode" })).ExportToWordAction(Url.Action("ExportToWord", "Generic", new { ctrlname = "TDSCode" })))
        .AllowSorting()
        .AllowPaging()
        .IsResponsive()
        .AllowFiltering()
        .ShowColumnChooser()
        .AllowReordering()
        .EnableAltRow()
         .AllowScrolling()
        .ScrollSettings(col => { col.Width("100%"); })
        .FilterSettings(filter => { filter.FilterType(FilterType.Excel); })
        .Columns(col =>
        {
            col.Field("tds_code_id").Width("15%").HeaderText("ID").IsPrimaryKey(true).Width(80).Visible(false).Add();
            col.Field("tds_code").Width("15%").HeaderText("TDS Code").Add();
            col.Field("tds_code_description").Width("15%").HeaderText("TDS Description").Add();
            col.Field("creditor_gl_name").Width("15%").HeaderText("Creditor GL").Add();
            col.Field("debtor_gl_name").Width("15%").HeaderText("Debtor GL").Visible(true).Add();
            col.Field("is_blocked").Width("15%").HeaderText("Block").Visible(false).Add();

        }).ClientSideEvents(eve =>
        {
            eve.ActionBegin("actionBegin");
            eve.RightClick("rightClick");
        })
    )
</div>
<style>
    .e-editedrow {
        display: none;
    }

    .e-editcell {
        display: none;
    }
</style>

<script type="text/javascript">

    function actionBegin(args) {
        if (args.requestType == "beginedit")
        {
            location.href = '@Url.Action("Edit", "TDSCode")?id=' + args.rowData.tds_code_id;
        }
        if (args.requestType == "add") {
            location.href = '@Url.Action("Create", "TDSCode")?id='
        }
    }
    function rightClick(args) {
        location.href = '@Url.Action("Details", "TDSCode")?id=' + args.data.tds_code_id;
    }

</script>

