<?xml version="1.0" encoding="utf-8"?>
  <!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
  <configuration>
    <configSections>
      <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
      <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

      <!--Log 4 Net -->
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler ,log4net" />
      <!--Log 4 Net -->
    </configSections>
    <!--Log 4 Net -->
    <log4net>
      <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
        <bufferSize value="1" />
        <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <connectionString value="server=SCIFFERSRV1\SQLEXPRESS; database=LOGIBRICKS_ERP;uid=sa;password=123;max pool size=200;min pool size=5" providerName="System.Data.SqlClient" />
        <commandText value="INSERT INTO error_log ([logDate],[logThread],[logLevel],[logSource],[logMessage],[exception],[user],[inner_exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception,@user,@inner_exception)" />
        <commandType value="Text" />

        <!--<commandText value="dbo.procLog_Insert"/>
      <commandType value="StoredProcedure"/>-->

        <parameter>
          <parameterName value="@log_date" />
          <dbType value="DateTime" />
          <layout type="log4net.Layout.RawTimeStampLayout" />
        </parameter>

        <parameter>
          <parameterName value="@thread" />
          <dbType value="String" />
          <size value="50" />
          <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%thread" />
          </layout>
        </parameter>

        <parameter>
          <parameterName value="@log_level" />
          <dbType value="String" />
          <size value="50" />
          <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%level" />
          </layout>
        </parameter>

        <parameter>
          <parameterName value="@logger" />
          <dbType value="String" />
          <size value="300" />
          <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%logger" />
          </layout>
        </parameter>

        <parameter>
          <parameterName value="@message" />
          <dbType value="String" />
          <size value="4000" />
          <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%message" />
          </layout>
        </parameter>

        <parameter>
          <parameterName value="@exception" />
          <dbType value="String" />
          <size value="2000" />
          <layout type="log4net.Layout.ExceptionLayout" />
        </parameter>

        <parameter>
          <parameterName value="@user" />
          <dbType value="String" />
          <size value="4000" />
          <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%property{user}" />
          </layout>
        </parameter>
        <parameter>
          <parameterName value="@inner_exception" />
          <dbType value="String" />
          <size value="7000" />
          <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%property{Inner_Exception}" />
          </layout>
        </parameter>
      </appender>
      <root>
        <level value="Debug" />
        <!--Overall Filter Type
      <appender-ref ref = "ConsoleAppender"/>
      <appender-ref ref = "FileAppender"/>-->
        <!--<appender-ref ref = "RollingFileAppender"/>-->
        <appender-ref ref="AdoNetAppender" />
      </root>
    </log4net>
    <!--Log 4 Net -->
    <connectionStrings>
      <!-- <add name="ERPDbContext" connectionString="server=logibrickserp.database.windows.net; database=LOGIBRICKS_ERP;uid=logibricks;password=bricks@1234;max pool size=200;min pool size=5" providerName="System.Data.SqlClient" />-->
      <!--<add name="ERPDbContext" connectionString="server=SCIFFERSRV1\SQLEXPRESS; database=LOGIBRICKS_ERP;integrated security=true;" providerName="System.Data.SqlClient" />-->
      <!--<add name="ERPDbContext" connectionString="server=52.172.205.234; database=SCIFFER_ERP;uid=logibricks;password=Logibricks@123;max pool size=200;min pool size=5" providerName="System.Data.SqlClient" />-->
      <!-- <add name="ERPDbContext" connectionString="server=LOGILAP32\SQLEXPRESS; database=Netalkar;uid=sa;password=Sciffer@123;max pool size=200;min pool size=5" providerName="System.Data.SqlClient" />-->
      <!--<add name="ERPDbContext" connectionString="server=192.168.142.7; database=LOGIBRICKS_ERP;uid=sa;password=bricks@1234;max pool size=200;min pool size=5" providerName="System.Data.SqlClient" />-->

      <!-- <add name="ERPDbContext" connectionString="server=136.232.195.86,20982; database=LOGIBRICKS_ERP;uid=sa;password=bricks@1234;max pool size=200;min pool size=5;Connect Timeout=30" providerName="System.Data.SqlClient" />-->
      <!--<add name="ERPDbContext" connectionString="server=192.168.1.26; database=NETALKAR_ERP;uid=bkurunkar;password=Bhagya_7540;max pool size=200;min pool size=5" providerName="System.Data.SqlClient" />-->

		<add name="ERPDbContext" connectionString="server=192.168.100.201; database=Netalkar_ERP_NEW;uid=logi;password=Logi@12Three;max pool size=200;min pool size=5;Connect Timeout=30" providerName="System.Data.SqlClient" />
		<!--<add name="ERPDbContext" connectionString="server=125.17.254.70,20982; database=LOGIBRICKS_ERP;uid=sa;password=bricks@1234;max pool size=200;min pool size=5" providerName="System.Data.SqlClient" />-->

    </connectionStrings>
    <appSettings>
      <add key="webpages:Version" value="3.0.0.0" />
      <add key="webpages:Enabled" value="false" />
      <add key="ClientValidationEnabled" value="true" />
      <add key="UnobtrusiveJavaScriptEnabled" value="false" />
      <add key="Url" value="http://117.239.239.130:8080/api/v2/Netalkar/getEmployeeInOutDetails" />
      <add key="Url1" value="http://192.168.142.8/api/v2/Netalkar/getEmployeeInOutDetails" />
      <add key="smskey" value="pFTJJfUV1pM-OkcowsCXFy0H7BX1FEsiSVApHxB2jM" />
      <!--yourapiKey-->
      <!--for netalkar local-->
    </appSettings>
    <system.web>
      <authentication mode="None" />
      <compilation debug="true" targetFramework="4.5.2">
        <assemblies>
          <add assembly="Syncfusion.Linq.Base, Version=14.3450.0.52, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
          <add assembly="Syncfusion.EJ, Version=14.3450.0.52, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
          <add assembly="Syncfusion.EJ.Export, Version=14.3450.0.52, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
          <add assembly="Syncfusion.Compression.Base, Version=14.3450.0.52, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
          <add assembly="Syncfusion.XlsIO.Base, Version=14.3450.0.52, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
          <add assembly="Syncfusion.Pdf.Base, Version=14.3450.0.52, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
          <add assembly="Syncfusion.DocIO.Base, Version=14.3450.0.52, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
          <add assembly="Syncfusion.OfficeChart.Base, Version=14.3450.0.52, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
          <add assembly="Syncfusion.EJ.MVC, Version=14.3500.0.52, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />

        </assemblies>
      </compilation>

      <httpRuntime executionTimeout="9999" maxRequestLength="2097151" />
      <httpHandlers>
        <add verb="*" path="captimage.axd" type="Syncfusion.JavaScript.ImageHandler, Syncfusion.EJ, Version=14.3450.0.52, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
      </httpHandlers>

      <pages>
        <namespaces>
          <add namespace="Syncfusion.JavaScript" />
          <add namespace="Syncfusion.MVC.EJ" />
        </namespaces>
      </pages>
    </system.web>

    <system.webServer>
      <modules runAllManagedModulesForAllRequests="true">
        <remove name="FormsAuthentication" />
      </modules>
      <handlers>
        <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
        <remove name="OPTIONSVerbHandler" />
        <remove name="TRACEVerbHandler" />
        <add verb="*" path="captimage.axd" name="syncfusion_generatetools" type="Syncfusion.JavaScript.ImageHandler, Syncfusion.EJ, Version=14.3450.0.52, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
      </handlers>
      <validation validateIntegratedModeConfiguration="false" />
    </system.webServer>
    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
          <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
          <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
          <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
          <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
          <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
          <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
          <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
          <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
          <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
          <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="CrystalDecisions.ReportAppServer.Controllers" publicKeyToken="692fbea5521e1304" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="CrystalDecisions.ReportAppServer.DataDefModel" publicKeyToken="692fbea5521e1304" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="CrystalDecisions.ReportAppServer.CommonObjectModel" publicKeyToken="692fbea5521e1304" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="CrystalDecisions.ReportAppServer.ClientDoc" publicKeyToken="692fbea5521e1304" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="CrystalDecisions.ReportAppServer.ReportDefModel" publicKeyToken="692fbea5521e1304" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="CrystalDecisions.ReportAppServer.CommLayer" publicKeyToken="692fbea5521e1304" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="CrystalDecisions.ReportAppServer.CubeDefModel" publicKeyToken="692fbea5521e1304" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692fbea5521e1304" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="CrystalDecisions.ReportAppServer.XmlSerialize" publicKeyToken="692fbea5521e1304" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
        </dependentAssembly>
      </assemblyBinding>
    </runtime>
    <entityFramework>
      <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
      <providers>
        <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      </providers>
    </entityFramework>
    <system.codedom>
      <compilers>
        <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
        <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
      </compilers>
    </system.codedom>
    <system.web.extensions>
      <scripting>
        <webServices>
          <jsonSerialization maxJsonLength="2147483644" />
        </webServices>
      </scripting>
    </system.web.extensions>
	  <system.web>
		  <sessionState timeout="60"></sessionState>
	  </system.web>
  </configuration>
