@model IEnumerable<Sciffer.Erp.Domain.ViewModel.pur_requisition_vm>
@using Newtonsoft.Json
@{
    ViewBag.Title = "Create";
}
<div class="loading">Loading &#8230;</div>


<div id="searchresult" class="row">
    @(Html.EJ().Grid<object>("Grid")
       .Datasource(ds => ds.Json((IEnumerable<object>)ViewBag.DataSource).UpdateURL(Url.Action("ChangeApprovedStatus", "PurchaseRequisition"))
                       .Adaptor(AdaptorType.RemoteSaveAdaptor).Offline(false))
        .FilterSettings(filter => { filter.FilterType(FilterType.Menu); })
        .EditSettings(edit => { edit.AllowAdding().AllowDeleting().AllowEditing(); })
        .EnableAltRow()
        .AllowPaging().PageSettings(a => a.PageSize(20))
        .ToolbarSettings(toolbar =>
        {
            toolbar.ShowToolbar().ToolbarItems(items =>
            {

                items.AddTool(ToolBarItems.Edit);
                items.AddTool(ToolBarItems.Update);
                items.AddTool(ToolBarItems.Cancel);
            });
        })
        .AllowSorting()
    .ContextMenuSettings(contextMenu =>
    {
        contextMenu.EnableContextMenu();
        contextMenu.DisableDefaultItems();
        contextMenu.CustomContextMenuItems(new List<Syncfusion.JavaScript.Models.CustomContexMenuItems>() { new Syncfusion.JavaScript.Models.CustomContexMenuItems() { Id = "MyMenu", Text = "Print" } });
    })
        .IsResponsive()
        .AllowFiltering()
        .AllowReordering()
        .FilterSettings(filter => { filter.FilterType(FilterType.Excel); })
        .Columns(col =>
        {
            col.Field("pur_requisition_id").Width("15%").HeaderText("ID").IsPrimaryKey(true).Visible(false).AllowEditing(false).Add();
            col.Field("category").Width("10%").HeaderText("Category").AllowEditing(false).Add();
            col.Field("pur_requisition_number").Width("10%").HeaderText("Document No.").AllowEditing(false).Add();
            col.Field("pur_requisition_date").Width("10%").HeaderText("Posting Date").Format("{0:dd/MM/yyyy}").AllowEditing(false).Add();
            col.Field("item_name").Width("15%").HeaderText("Item Name").AllowEditing(false).Visible(true).Add();
            col.Field("vendor_name").Width("15%").HeaderText("Vendor Name").AllowEditing(false).Visible(true).Add();
            col.Field("status").Width("15%").HeaderText("PR Status").AllowEditing(false).Visible(true).Add();
            col.Field("approval_status").Width("15%").HeaderText("Status").ForeignKeyField("approval_status")
            .ForeignKeyValue("approval_status_name").DataSource((IEnumerable<object>)ViewBag.status_list).AllowEditing(true)
            .TextAlign(TextAlign.Left).Add();
            col.Field("approval_comments").HeaderText("Comments").Add();
        })
        .ClientSideEvents(eve =>
        {
            eve.ActionComplete("complete").EndAdd("EndProcess").EndDelete("EndProcess").EndEdit("EndProcess");
            eve.ContextClick("contextclick");
        })
    )
</div>
<br />
<br>
<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</div>

<script>

    function EndProcess()
    {
        var gridObj = $("#Grid").ejGrid("instance");
        gridObj.refreshContent();
    }
    $('#approval_status').val("0");
    $("#search").click(function () {
        AdvanceSearch();
    });
    function AdvanceSearch()
    {
        var id = $("#approval_status").val();
        $(".loading").show();
        $.ajax({
            url: "@Url.Action("GetApprovedStatus", "PurchaseRequisition")",
            method: "Post",
        cache: false,
        data: {id:id},
        success: function (data) {
            console.log(data);
            $(".loading").hide();
            $('#searchresult').empty().append(data);
        },
        error: function (http) {
            console.log(XMLHttpRequest);
        }
    });
    }
    function contextclick(args) {

            if (args.text == "Print") {
               var url = '@Url.Action("Pdf", "PurchaseRequisition")?id=' + this.getSelectedRecords()[0].pur_requisition_id + '&type=' + 2;
                window.open(url);
            }


    };
</script>

