@model Sciffer.Erp.Domain.Model.REF_SALUTATION

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>REF_SALUTATION</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.salutation_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salutation_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.salutation_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
